<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="itemCategory">
            <h2><span jhiTranslate="store13App.itemCategory.detail.title">Item Category</span> {{ itemCategory.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="store13App.itemCategory.name">Name</span></dt>
                <dd>
                    <span>{{ itemCategory.name }}</span>
                </dd>
                <dt><span jhiTranslate="store13App.itemCategory.parent">Parent</span></dt>
                <dd>
                    <div *ngIf="itemCategory.parent">
                        <a [routerLink]="['/item-category', itemCategory.parent?.id, 'view']">{{ itemCategory.parent?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/item-category', itemCategory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
