<div>
    <h2 id="page-heading">
        <span jhiTranslate="store13App.itemInstanceTransact.home.title">Item Instance Transacts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-item-instance-transact" [routerLink]="['/item-instance-transact/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="store13App.itemInstanceTransact.home.createLabel">
            Create a new Item Instance Transact
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="itemInstanceTransacts?.length === 0">
        <span jhiTranslate="store13App.itemInstanceTransact.home.notFound">No itemInstanceTransacts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="itemInstanceTransacts && itemInstanceTransacts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="deliveryDate"><span jhiTranslate="store13App.itemInstanceTransact.deliveryDate">Delivery Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="transactionType"><span jhiTranslate="store13App.itemInstanceTransact.transactionType">Transaction Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="user.lastName"><span jhiTranslate="store13App.itemInstanceTransact.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="itemInstanceId.id"><span jhiTranslate="store13App.itemInstanceTransact.itemInstanceId">Item Instance Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let itemInstanceTransact of itemInstanceTransacts ;trackBy: trackId">
                    <td><a [routerLink]="['/item-instance-transact', itemInstanceTransact.id, 'view']">{{ itemInstanceTransact.id }}</a></td>
                    <td>{{ itemInstanceTransact.deliveryDate | date:'mediumDate' }}</td>
                    <td>{{ itemInstanceTransact.transactionType }}</td>
                    <td>
                        {{ itemInstanceTransact.user?.lastName }}
                    </td>
                    <td>
                        <div *ngIf="itemInstanceTransact.itemInstanceId">
                            <a [routerLink]="['/item-instance', itemInstanceTransact.itemInstanceId?.id, 'view']" >{{ itemInstanceTransact.itemInstanceId?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/item-instance-transact', itemInstanceTransact.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/item-instance-transact', itemInstanceTransact.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(itemInstanceTransact)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="itemInstanceTransacts && itemInstanceTransacts.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
